
/*^SONIA*/
.titulo{
    font-size: 50px;
}
.banner img{
    size: cover;
}



/*Fotografia1*/

.fotografia1{
    background-image: url(../image/img_grid_principal.jpg);
    background-size: cover;
    padding-top: 40%;
    margin-left: 12px;
    width: 47%;
    
}

.text1{
    margin-top: 50px;
    color: white;
}

.textp{
    color: white;
    padding-left: 2%;
}

/*Fotografia2*/
.fotografia2{
    background-image: url(../image/img_grid_secundario.jpg);
    background-size: cover;
    padding-top: 30%;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

.fotografia3{
    background-image: url(../image/img_grid_secundario.jpg);
    background-size: cover;
    padding-top: 34%;
    margin-left: 8px;
}

.fotocomen{
    color: white;
}



.fotocomen1{
   text-shadow: 2px 2px 4px #000004; 
   padding: 0 2% 0 2%;
}

.fotocomen2{
    text-shadow: 2px 2px 4px #000004;
    padding: 0 2% 0 2%;

}

.textito li{
    padding-bottom: 4%;
}


/*^SONIA*/

/* SECCION COLUMNISTAS */
.foto {	
	border: 5px solid #fff;
	box-shadow: 2px 5px 3px #959595;
	margin-top: 5%;
}

.fondogris {
	background-color: #F2F2F2;
	border-top: 5px solid #AA1801;
	margin-top:2%;
	padding-bottom: 2%;
}

.fondotitulo {
	background-color: #AA1801;
	width: 140px;
	margin: 0 auto;
	position: relative;
	bottom: 15px;
	padding: 2px;
}

.fondotitulo h4 {
	color: white;
	font-family: 'Oswald', sans-serif;	
}

.nombre {
	font-size: 10px;
	padding-top: 10%;
}

.frase {
	font-size: 11px;
	font-weight: bold;
	padding-top: 5%;
}


.columnistas p {
	margin: 0;
}

.columnistas a {
	color: black;
}

.columnistas a:hover {
	text-decoration: none;
	color: black;
}



/* MERCADO DE PASES */
.box-3{
	margin: 2% 0;
}
/* PRIMERA Y SEGUNDA FILA DE FOTOS */

.imagen-especiales{
	background-image: url(../image/img_especiales.jpg);
	background-size: cover;
	background-position: center;
}
.neg{
	background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
}

.img-thumbnail {
	padding:0;
	border-radius: 2px;
}
.img-thumbnail p {
	color: white;
	line-height: 24px;
	font-size: 15px;
	padding-top: 45%;
	padding-bottom: 3%;
	margin: 0 5%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.img-thumbnail h5{
	color: #F80500;
	font-weight: 700;
	font-family: 'Open Sans';
}
span a{
	color: #000000;
}
span a:hover{
	color: #F80500;
}
/* FIN MERCADO DE PASES */

/*inicio Box-4 */
.izquierda{
	margin: 20px 0;
}
.derecha{
	margin: 60px 0;
}
/*Box-4 izquierda*/
.titulo-1 h6{
	font-size:15px;
	font-family: 'Oswald', sans-serif;
	color:#708698;
	margin-bottom: 30px;
}
.titulo-1 .fa-angle-double-down{
	color:#d90c0c;
	font-size:20px;
}
.ema h4{
	margin-top:0;	
}
.ema h4 a{
	margin-top:0;
	font-weight: 700;
	color:black;	
}
.ema>p{
	margin:5px 0;
	color:#92999a;
	font-size:12px;
}
.ema img{
		width: 100%;
		padding: 10px 0;
	}

.linea{
	background:#92999a;
	width: 100%;
	height:1px;
	margin:20px 0;
}
.ema ul{
	padding-left: 0;
}
.ema ul li{
 	display:inline-block;
	margin: 0 3px;

}
.ema ul li a{
	text-decoration: none;
	color:#92999a;
}
.ema a:hover{
	text-decoration: none;
	color:grey;
}
.ema ul li .fa-facebook-square{
	color:#006299;
	font-size: 25px;
}
.ema ul li .fa-twitter-square{
	color:#00aef1;
	font-size: 25px;
}
.ema ul li .fa-google-plus-square{
	color:#d43e2f;
	font-size: 25px;
}
.ema ul li .fa-youtube-play{
	color:#d43e2f;
}
.boton-1 button{
	background-color:#d90c0c;
	padding:5px 50px;
	background-color:#d90c0c;

}
/* fin Box-4 izquierda*/
/*inicio formulario*/
.puntos{
	background-image: url(../image/trama_square.jpg);
	padding:10px;
	padding-top: 40px;

}
.blanco{
	background-color: white;
	padding: 15px 0;
}
.blanco>img{ 
  margin:-40px auto;
  margin-bottom:-10px;
}
.blanco>p{
	padding-top:30px;
	font-size: 18px;
}
.blanco>input{
	background-color:#eeefee;
	border-radius: 5px;
	padding: 1% 5%;
	width:70%; 
}
.blanco>button{
	background-color:#d90c0c;
	width:70%;
	margin:10px;
}
/*fin formulario*/
/*incio Aweita*/
.aweita{
	border: 2px solid #cccccc;
	margin:20px 0;
	padding: 10px;
}
.aweita a img{
	padding-bottom:20px;	
}
.cajita a img{
	width: 100%;
	border:2px solid #869aa9;
	margin:8px;
	padding: 0;
}
.cajita p{
	padding-left:20px;
	line-height:15px;
	font-size:12px;

}
.aweita a{
	color:#9d2b88;
}
.linea-2{
	background-color:#9d2b88;
	height:5px;
	width:45%; 
	margin:0 auto;
	margin-bottom:-4%;
}
/*fin aweita*/
/*fotos destacadas*/
.f-desta{
	margin-top:30px;
	font-weight: 700;
}
.f-desta a{
	color:black;
}
.linea-3{
	background-color:#6f8798;
	height:4px;
	width:100%; 
	margin:0 auto;
}
.destacadas{
	background-color:#6f8798;
	width:50%; 
	margin:0 auto;
	margin-top:-4%;
	color:white;
	font-family: 'Oswald', sans-serif;
	padding:5px;
}
.f-desta a img{
	margin:30px 0 10px 0;
}
	.f-desta a img{
		width:100%;
	}

.f-desta h4{
	font-weight: 700;
	text-align: left;
}

.cajita-2 a img{
	border: 2px solid #859fb1;
	margin:10px;
	margin-left: 0;

}
.cajita-2 p{
	text-align:left;
	margin:13px 0;
	font-size:14px;
	line-height:15px;
}


@media (max-width:768px){
	.boton-1{
		display: none;
	}
	
}

/*fin box-4*/